<!DOCTYPE html>
<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="description" content="Mgazin online de instrumente muzicale">
    <meta name="keywords"
          content="muzica, instrument, instrumente, chitara, electrica, acustica, electro-acustica, corzi, corzi de chitara, corzi de bass, ibanez, warwick, fender, squire, jazz, pian, claviatura, midi, pian electric, pianina, orga, korg, roland, tobe, bete, fete tobe">

    <%-
        include("../fragmente/head.ejs")
    %>





</head>

<body>

<%-
include("../fragmente/header.ejs")
%>


<main>

    <div class="sticky">
        <div>
            <div class="tooltip" onclick="location.href='#'" style="text-decoration: none">
                <div class="triangle">
                    <span class="tooltiptext">
                        Inceputul paginii
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px">

        <div id="prez" style="font-family: 'Roboto', serif ">

            <div class="prez_element">
                <img src="res/slideshow/numa_x_banner_key.jpg" alt="prez"
                     style="width: 1903px; height: 500px; z-index: 0; margin-left: 0; opacity: 100%; position: relative; float: right">
            </div>
            <div class="prez_element">
                <img src="res/slideshow/2d0e11491a84fe1a05fda96ae164884f5d260f00_Katana100-1.jpg" alt="prez"
                     style="width: 1903px; height: 500px; z-index: 0; margin-left: 0; opacity: 100%; position: relative; float: right">
            </div>
            <div class="prez_element">
                <img src="res/slideshow/bfde4ce29b83053b8409ad2097f415196ae1c19d_Tobe%20electronice%20yamha%20DTX10.jpg"
                     alt="prez"
                     style="width: 1903px; height: 500px; z-index: 0; margin-left: 0; opacity: 100%; position: relative; float: right">
            </div>
            <script src="js/slideshow.js"></script>
        </div>


        <div id="tbl1" style="position: relative; z-index: 3;">
            <div class="rounded">
                <ul id="side-nav">
                    <li><a> Chitara/Bass </a>
                        <ul>
                            <li><a href="/index#chit_ac"> Acustice </a>
                            <li><a href="#"> Electrice </a>
                            <li><a href="#"> Electro-Acustice </a>
                        </ul>
                    </li>

                    <li><a>Claviaturi</a>
                        <ul>
                            <li><a href="#">Claviaturi</a>
                            <li><a href="#">Piane</a>
                            <li><a href="#">Piane Digitale</a>
                            <li><a href="#">MIDI</a>
                        </ul>
                    </li>

                    <li><a>Tobe/Percutie</a>
                        <ul>
                            <li><a href="#">Claviaturi</a>
                            <li><a href="#">Piane</a>
                            <li><a href="#">Piane Digitale</a>
                            <li><a href="#">MIDI</a>
                        </ul>
                    </li>

                    <li><a>Accesorii</a>
                        <ul>
                            <li><a href="#">Claviaturi</a>
                            <li><a href="#">Piane</a>
                            <li><a href="#">Piane Digitale</a>
                            <li><a href="#">MIDI</a>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

        <div id="ev">
            <ul style="position: relative; z-index: 3">
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>

                    <div>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-star"></i>
                    </div>

                    <p><button>Add to Cart</button></p>

                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>

                    <div>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p><button>Add to Cart</button></p>

                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>

                    <div>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p><button>Add to Cart</button></p>

                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>
                    <div>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p><button>Add to Cart</button></p>
                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>
                    <div>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p><button>Add to Cart</button></p>
                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>
                    <div>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p><button>Add to Cart</button></p>
                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>
                    <div>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p><button>Add to Cart</button></p>
                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>
                    <div>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p><button>Add to Cart</button></p>
                </li>
            </ul>
        </div>

        <div id="an">
            <ul style="margin-left: 100px">
                <li style=" list-style: none"><a><img src="res/free_shipping.png.jpg" alt=""
                                                      style="width: 200px; float: left; margin-top: 10px; margin-right: 160px"></a>
                </li>
                <li style=" list-style: none"><a><img src="res/money_back.png.png" alt=""
                                                      style="width: 200px; float: left; margin-right: 190px"></a></li>
                <li style=" list-style: none"><a><img src="res/quality.png" alt=""
                                                      style="width: 140px; float: left; margin-right: 200px"></a></li>
                <li style=" list-style: none"><a><img src="res/support.png" alt=""
                                                      style="width: 140px; float: left;"></a></li>

            </ul>
        </div>

        <div id="usr_onl">
            <img src="res/usr_onl.jpg" alt="prez"
                 style="width: auto; height: 400px; float: left; z-index: 2; opacity: 100%; position: relative;">
        </div>

        <div id="usr_data" style="margin-left: 300px">
            <ul style="list-style: none; display: inline-flex; margin-right: 10px; opacity: 85%; margin-bottom: 0;">
                <li style="margin-right:90px; float: left; width: 100px; background: #4D4D59; border-left: solid; border-right: solid; border-top: solid">
                    <a href="https://www.youtube.com/embed/z9Elx4nCTgk" target="iframe" style="color: white">DO NOT USE
                        YOUTUBE</a></li>
                <li style="margin-right:90px; width: 100px; background: #4D4D59;  border-left: solid; border-right: solid; border-top: solid">
                    <a href="https://www.youtube.com/embed/z9Elx4nCTgk" target="iframe" style="color: white;">DO NOT USE
                        YOUTUBE</a></li>
                <li style="width: 100px; background: #4D4D59;  border-left: solid; border-right: solid; border-top: solid">
                    <a href="https://www.youtube.com/embed/z9Elx4nCTgk" target="iframe" style="color: white;">DO NOT USE
                        YOUTUBE</a></li>
            </ul>
            <div style="display: flex;  flex-wrap: nowrap;">
                <div>
                    <iframe width="560" height="315" name="iframe"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div id="site_data" style="width: 300px">
            <img src="res/site_data.jpg" alt="prez"
                 style="width: 300px; margin-left: 25%; height: 400px; float: left; z-index: 2; opacity: 100%; position: relative;">
        </div>

        <div id="extra">
            <ul style="position: relative; z-index: 3">
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt_1" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>
                    <p>
                        <i class="fas fa-heart"></i>
                        <button>Add to Cart</button>
                    </p>
                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt_2" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>
                    <p>
                        <i class="fas fa-heart"></i>
                        <button>Add to Cart</button>
                    </p>
                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt_3" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>
                    <p>
                        <i class="fas fa-heart"></i>
                        <button>Add to Cart</button>
                    </p>
                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt_4" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>
                    <p>
                        <i class="fas fa-heart"></i>
                        <button>Add to Cart</button>
                    </p>
                </li>
                <li class="card">
                    <img src="res/slideshow/1.jpg" alt="anunt_5" style="width:100%;">
                    <h1 class="font-effect-3d-float" style="color: black">Chitara</h1>
                    <p class="price">1000 Lei</p>
                    <p>Suuuuper buna</p>
                    <p>
                        <i class="fas fa-heart"></i>
                        <button>Add to Cart</button>
                    </p>
                </li>
            </ul>
        </div>

    </div>
</main>

<%-
    include("../fragmente/galerie.ejs")
%>
<%-
    include("../fragmente/galerie_animata.ejs")
%>

<%-
    include("../fragmente/footer.ejs")
%>




</body>


</html>