<%-
    include("../fragmente/head.ejs")
%>

<%-
    include("../fragmente/header.ejs")
%>


<style>
    .container {
        grid-template-areas:    "prez prez prez prez"
                                "tbl1 tbl1 ev ev"
                                "tbl1 tbl1 ev ev"
                                "tbl1 tbl1 ev ev"
                                "tbl1 tbl1 ev ev";
    }


    ul#elm > * {
        animation-name: insert;
        animation-duration: 1s;
    }

    @keyframes insert {
        from{
            opacity: 10%;
            max-width: 600px;
            width: 200%;
        } to {
            opacity: 100%;
            max-width: 300px;
            width: 100%;
        }
    }

</style>
<div class="container" style="margin-top: 50px">
    <%-
    include("../fragmente/filter.ejs")
    %>
    <div id="ev">
        <ul id = "elm" style="position: relative; z-index: 3">
            <%function afisare(prod){ /*console.log(prod)*/ %>

                <li class="card">

                    <img src="<%- prod.img_path %>" alt="anunt">

                    <h1 class="font-effect-3d-float" style="color: black"><%- prod.nume %></h1>

                    <p class="price"><%- prod.pret %> </p>

                    <p>Suuuuper buna</p>

                    <div>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-info-circle"></i>
                        <i class="fas fa-star"></i>
                    </div>

                    <p><button>Adauga in cos</button></p>

                </li>

            <%}
            for (let prod of locals.produse) {
                    afisare(prod)

            }%>

        </ul>

    </div>
</div>

